html {
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}
body {
    min-height: 100vh;
    font-family: 'League Spartan'; 
    background-color: #662d91;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
Header ---->
*/
header {
    height: 85px;
    padding: 0px 7.5vw;
    text-align: left;
}
header h1 {
    color: #fff;
    text-align: left;
    padding-top: 30px;
    display: inline-block;
}
.logo_img {
    max-height: 60px;
    display: inline;
    position: absolute;
    top: 10px;
    left: 7.5vw;
}
header #menu_toggle {
    display: inline;
    color: white;
    position: absolute;
    right: 8.5vw;
    top: 25px;
    cursor: pointer;
    transition: visibility 0s, opacity 0.5s linear;
}
header #menu_toggle.invisible {
    opacity: 0;
    transition: 0.5s;
    transform: translate(-100%, 0%);
}
header #toggle {
    position: absolute;
    right: 7.5vw;
    top: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: inline;
    text-align: right;
}
header #toggle:before {
    content: "";
    position: absolute;
    top: 9px;
    width: 35%;
    height: 7px;
    background-color: white;
}
header #toggle:after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 35%;
    height: 7px;
    background-color: white;
}
.content-container.active #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(41deg);
}
.content-container.active #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-41deg);
}
.content-container {
    height: 100%;
    transition: 0.5s;
    z-index: 3;
    position: relative;
}
.content-container.active {
    transform: translateX(-400px);
}
.navigation {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #2b0170;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
.navigation.active {
    right: 0px;
}
.nav_menu_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 5px;
}
.navigation ul li {
    list-style: none;
}
.navigation ul li a {
    text-decoration: none;
    font-size: 38px;
    line-height: 9vh;
    color: white;
}
.logout_form {
    position: absolute;
    top: 20px;
    right: 20px;
}
.logout_form input {
    background-color: #623aa1;
    padding: 7px 37.5px 3.5px 37.5px;
    color: white;
    border: solid 2.5px #623aa1;
}
.logout_form input:hover {
    background-color: #2b0170;
    border: solid 2.5px #fff;
}
.nav_username_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.nav_username {
    color: #2b0170;
    font-size: 14px;
    border: 2.5px solid #fff;
    padding: 10px 40px 7px 7px;
    background-color: white;
    margin-bottom: 0px;
}
@media only screen and (max-width: 700px) {
    #menu_toggle {
        right: 15vw!important;
        top: 30px!important;
    }
    #toggle {
        right: 14vw!important;
        top: 20px!important;
    }
}
@media only screen and (max-width: 600px) {
    #menu_toggle {
        display: none!important;
    }
    #toggle {
        right: 16vw!important;
        top: 28px!important;
        width: 10px!important;
    }
    #toggle::before {
        width: 35px!important;
    }
    #toggle::after {
        width: 35px!important;
    }
    .logout_form {
        top: 20px;
        right: 30px;
    }
    .navigation {
        width: 200px;
    }
    .content-container.active {
        transform: translateX(-200px);
    }
    .navigation {
        right: -200px;
        place-items: start;
    }
    .navigation ul li {
        margin-bottom: 12px;
    }
    .navigation ul li a {
        font-size: 19px!important;
        max-width: 80%;
        line-height: 0px;
        margin-bottom: 6vh;
    }
    .nav_menu_box {
        width: 80%!important;
        padding-left: 10px;
    }
    .nav_username_box {
        padding-bottom: 0px;
    }
}


/* 
Home page ---->
*/
.home_icon {
    width: 38vw;
    position: absolute;
    left: -2vw;
    top: 32vh;
}
.head_text_box {
    color: #fff;
    text-align: left;
    margin-left: 25vw;
    margin-top: 100px;
}
.head_text_box h1 {
    font-size: 50px;
}
.head_text_box p {
    margin-top: 65px;
    margin-bottom: 80px;
    padding-left: 15vw;
}
.head_text_box p span {
    color:#662d91;
    border-left:6px #fff solid;
    padding-left: 10px;
    padding-top: 4px;
}
.head_text_box h6 {
    text-align: right;
    font-size: 20px;
    max-width: 80%;
    margin-left: 20%;
}
.head_text_box h6 span {
    color: #662d91;
}
.log_reg_box {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 15px 20px 6px 40px;
    color: #fff;
    border-right: solid 8px #fff;
}
.log_reg_box button {
    margin-right: 15px;
    background-color: #fff;
    border: solid 2px #fff;
    border-radius:5px;
    color: #2b0170;
    width: 130px;
    padding: 8px 0 3px 0;
}
.log_reg_box button:hover {
    background-color: #2b0170;
    border: solid 2px #fff;
    color: #fff;
}
.log_reg_box h6 {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 0 6px 0;
}
.log_reg_box a {
    display: inline-block;
}
.vision_statement_box {
    font-size: 28px;
    margin: auto;
    margin-top: 350px;
    text-align: center;
    color: #fff;
    width: 55vw;
}



/* 
Registration and Login pages (forms)---->
*/
.reg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    width: 100%;
    margin-bottom: 90px;
}
.form_box {
    min-width: 36vw;
    color: white;
    text-align: center;
    padding-bottom: 5vh;
}
.form_box_newcollector {
    margin-top: 0px;
    padding: 3vh 0;
}
.form_box_newcollector h2 {
    margin-top: 24px;
    margin-bottom: 25px;
    font-size: 30px;
}
.reg_container h1, .reg_container h2 {
    color: #fff;
    text-align: right;
}
.login_title {
    font-size: 75px;
    position: relative;
    top: -80px;
    left: 4vw;
}
.for_event_registration_title {
    position: relative;
    top: -80px;
    left: 4vw;
    max-width: 40%;
}
.normal_registration_title {
    font-size: 70px;
    position: relative;
    top: -80px;
    left: 4vw;
}
.form_box h1 {
    margin-bottom: 5vh;
}
.form_line {
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    max-width: 70%;
    margin: auto;
}
.form_box input {
    height: 50px;
    padding: 6px 8px 0px 8px;
    font-size: 18px;
    border: 0;
}
.form_box_newcollector .form_line {
    max-width: 72%;
}
.icon_box {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b0170;
}
.form_box .submit_btn {
    background-color: #fff;
    width: 200px;
    height: auto;
    padding-top: 14px;
    padding-bottom: 8px;
    font-size: 22px;
    color: #2b0170;
    border: solid #fff 2.5px;
    border-radius: 5px;
}
.form_box .submit_btn:hover {
    background-color: #2b0170;
    color: #fff;
}
.error_box {
    margin: 0 20% 10px 20%;
    background-color: #2b0170;
    border: solid #fff 2px;
    min-width: auto;
    padding: 14px 0 12px 0;
}
.already_registered_title {
    flex-basis: flex-end;
    color: #fff;
    width: 100%;
    font-size: 14px;
    margin-top: 14px;
}
.already_registered_title a {
    color: #ac99ca;
}
.already_registered_title a:hover {
    text-decoration: none;
    color:#d6c5f0;
}
@media only screen and (max-width: 800px) {
    .form_box {
        margin-top: 10px;
    }
    .login_title {
        font-size: 50px;
        top: -65px;
    }
    .form_box .submit_btn {
        font-size: 18px;
        width: auto; 
        padding: 9px 35px 3px 35px; 
    }
}
@media only screen and (max-width: 600px) {
    .reg_container {
        align-content: center;
        flex-wrap: wrap;
    }
    .normal_registration_title, .login_title {
        margin-right: 0;
        align-self: flex-start;
        position: static;
        text-align: center!important;
    }
    .for_event_registration_title {
        font-size: 25px;
        position: static;
        max-width: 90%;
        text-align: left!important;
    }
    .form_box {
        width:80%;
    }
    .form_line {
        max-width: 85%;
    }
}
@media only screen and (max-width: 400px) {
    .login_title {
        font-size: 30px;
        width:90%;
    }
    .normal_registration_title {
        font-size: 30px;
        width: 90vw;
    }
    .for_event_registration_title {
        font-size: 18px;
    }
    .form_line {
        max-width: 100%;
    }
    .form_line input {
        max-width: 100%;
    }
    .already_registered_title {
        font-size: 12px;
    }
}


/*
MyPage----->
*/
#reward_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
#reward_modal_box {
    padding: 50px 30px 30px 30px;
    background-color: #fff;
    min-width: 250px;
    max-width: 60vw;
    min-height: 250px;
    max-height: 90vh;
    position: relative;
}
#reward_modal_box_close {
    background-color: #2b0170;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 52px;
    border: solid 2px #2b0170;
    position: absolute;
    top: -10px;
    right: 15px;
}
#reward_modal_box_close:hover {
    cursor: pointer;
    background-color: #fff;
    color: #2b0170;
}
#reward_name {
    text-align: center;
    margin-bottom: 25px;
}
.reward_modal_box_content_info {
    width: 40vw;
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
    margin: 20px 0 30px 0;
}
.reward_modal_box_content_info img {
    width: 120px;
    height: auto;
    margin: auto;
}
.reward_modal_box_middle_body_img_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reward_modal_box_content img {
    max-width: 100%;
    max-height: 40vh;
}
#reward_modal_box_middle_body {
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 120px;
}
#reward_modal_box_middle_body p {
    max-width: 100%;
    padding: 0 25px;
}
#reward_modal_box_button {
    text-align: center;
}
#reward_modal_box_button button, #reassured_delete_btn {
    background-color: #2b0170;
    border: solid #2b0170 2px;
    color: #fff;
    border-radius: 4px;
    padding: 18px 50px 12px 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#reward_modal_box_button button:hover, #reassured_delete_btn:hover {
    background-color: #fff;
    color: #2b0170;
}
.credit_box {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 0;
    width: 100%;
    box-shadow: 10px 10px 30px #2b0170;
    min-height: 400px;
}
.credit_box h3 {
    padding: 45px 30px 40px 30px;
    color: #2b0170;
}
.credit_box_containered {
    width: 100%;
}
.credit_points_box {
    box-shadow: 10px 10px 30px #2b0170;
    width: 65%;
    height: 60px;
    margin: auto;
}
.credit_points {
    background-color: #2b0170;
    height: 100%;
    position: relative;
    transition: max-width 0.5s ease-out;
}
.credit_points h4 {
    position: absolute;
    bottom: 6%;
    right: -20px;
    color: #623aa1;
}
.credit_rewards {
    width: 65%;
    margin: auto;
    position: relative;
    top: 60px;
}
.credit_rewards .reward_box {
    width: auto;
    text-align: center;
    padding: 50px 0px 30px 0px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    background-size: contain;
    background-size: 100% 58px;
    background-repeat: no-repeat;
    background-position: center top;
}
.credit_rewards .reward_box:hover {
    opacity: 0.6;
    cursor: pointer;
}
.credit_rewards .reward_box img {
    border-radius: 5px;
    padding-top: 12px;
    max-height: 200px;
    width: 75px;
}
.credit_rewards .reward_box h5 {
    color: #623aa1;
    font-size: 17px;
    padding: 5px 10px;
    margin: 0;
}
.credit_rewards .reward_box h6 {
    color: #623aa1;
    font-size: 11px;
    padding: 8px 0px;
}
.my_event_box_recommend {
    background-color: #fff;
    box-shadow: 10px 10px 30px #2b0170;
    color: #000;
    width: 45vw;
    margin: auto;
    padding: 0px;
    margin-top: 40px;
}
.your_events_intro {
    color: #fff;
    padding-left: 30px;
}
.recommend_link {
    background-color: #2b0170;
    width: 100%;
    text-align: center;
    padding: 35px 0 40px 0;
}
.recommend_link h5 {
    color: #fff;
}
.recommend_link_box_event {
    display: grid;
    grid-template-columns: 40% 60%;
    text-decoration: none;
    min-height: 160px;
}
.recommend_link_box_event_title_img {
    background-size: cover;
    background-position: center;
}
.recommend_link_box_event:hover {
    background-color: #EAF0F1;
    text-decoration: none;
}
.recommend_link_box_event:hover div {
    transition: 0.3s;
}
.recommend_link_box_event:hover div:last-of-type {
    border-left: 12px solid #2b0170;
}
.recommend_link_box_event_text {
    color: #000;
    display: inline;
    text-align: left;
    padding: 12px 25px 0 25px;
    overflow: hidden;
}
.recommend_link_box_event img {
    max-width: 100%;
    display: inline;
}
.recommend_link_input {
    padding: 13px 0 9px 3%;
    border: 0px;
    width: 50%;
    height: 50px;
}
.my_event_box_recommend #copy_box {
    background-color: #fff;
    color: #2b0170;
    position: relative;
    border: 0px;
    padding: 0px 14px;
    right: 8px;
    top: -1px;
    font-size: 22px;
    border-radius: 0px 6px 6px 0;
    height: 50px;
}
.my_event_box_recommend #copy_box:hover {
    background-color: #623aa1;
    color: #fff;
}
.empty_box {
    padding: 0px 24%;
}
.recommend_link_box_empty {
    background-color: #fff;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    outline: dashed 4px #ac99ca;
    box-sizing: content-box;
    padding: 6vh 0 5vh 0;
    opacity: 0.5;
}
.discover_more_events {
    width: 52%;
    margin: auto;
    color: #ac99ca;
}
.discover_more_events:hover {
    text-decoration: none;
    color: #2b0170;
}
.recommend_link_box_empty:hover {
    opacity: 0,8;
}
@media only screen and (max-width: 1200px) {
    .credit_rewards .reward_box {
        background-size: 40px;
        padding-top: 44px;
        
    }
    .credit_rewards .reward_box img {
        width: 42px;
        padding-top: 0px;
    }
    .withdrawn_text {
        display: none;
    }
    .my_event_box_recommend {
        width: 65vw;
    }
}
@media only screen and (max-width: 770px) {
    .container {
        max-width: unset;
        width: 100vw!important;
        margin-bottom: 180px;
        padding: 0;
    }
    .credit_rewards {
        width: 88%;
    }
    .credit_box {
        width: 85vw;
        margin-left: 7.5vw;
        min-height: 350px;
    }
    .credit_points_box {
        width: 88%;
    }
    .credit_rewards .reward_box img {
        width: 32px;
    }
    .my_events_box {
        width: 100vw;
    }
    .my_event_box_recommend {
        width: 80%;
    }
    #reward_modal_box {
        max-width: 90vw;
    }
    .reward_modal_box_content_info {
        width: 70vw;
    }
    #reward_name {
        font-size: 22px;
    }
    #reward_modal_box_middle_body p {
        font-size: 14px;
        padding-left: 8px;
        padding-right: 14px;
        
    }
    #reward_modal_box_content img {
        max-width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    .credit_box {
        padding-bottom: 70px;
    }
    .credit_box h3 {
        padding: 25px 30px 15px 30px;
    }
    .credit_box_containered {
        width: 65px;
        margin: auto;
    }
    .credit_points_box {
        width: 60px;
        height: 480px;
        display: inline-block;
    }
    .credit_rewards {
        top: 0px;
        display: inline-block;
        width: 0px!important;
        height: 480px;
    }
    .reward_box {
        position: relative;
        background-image: none!important;
    }
    .credit_rewards .reward_box h5 {
        font-size: 15px;
    }
    .reward_box:nth-of-type(even) {
        margin-left: 130px;
    }
    .reward_box:nth-of-type(even) h5 {
        left: auto;
        right: -24px;
    }
    .credit_rewards .reward_box img {
        width: 45px;
    }
    .recommend_link h5 {
        font-size: 14px;
    }
    .recommend_link_input {
        width: 65%;
        height: 42px;
    }
    .my_event_box_recommend #copy_box {
        background-color: #fff;
        color: #2b0170;
        position: relative;
        border: 0px;
        padding: 0px 14px;
        right: 8px;
        top: -1px;
        font-size: 22px;
        border-radius: 0px 6px 6px 0;
        height: 42px;
    }
    .recommend_link_box_event {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        min-height: 280px;
    }
    .recommend_link_box_event_text h3 {
        margin-bottom: 0px;
        font-size: 22px;
    }
    .empty_box {
        padding: 0 18%;
    }
    .recommend_link_box_empty h2 {
        font-size: 22px;
        padding: 0px 15px;
        margin-bottom: 0;
    }
    #reward_name {
        font-size: 17px;
    }
    #reward_modal_box_middle_body p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px) {
    #reward_modal_box_middle_body {
        grid-template-columns: 100%;
        min-height: unset;
    }
    .reward_modal_box_middle_body_img_container img {
        max-height: none;
    }
    #reward_modal_box {
        overflow: scroll;
    } 
    #reward_modal_box_close {
        top: -5px;
    }
    .recommend_link_box_event_text h3 {
        font-size: 18px;
    }
    .recommend_link_box_event_text h6 {
        font-size: 14px;
    }
    .recommend_link h5 {
        font-size: 12.5px;
        padding: 0 8px;
    }
}


/*
Eventpage ----->
*/
.event_container {
    background-color: #fff;
    margin-top: 40px;
    padding: 0px;
}
.row {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.event_img_box img {
    max-width: 100%;
}
.event_img_box {
    padding: 0;
}
.event_text_box {
    padding: 0 0 10px 0;
    background-color: #fff;
}
.event_text_box .title {
    background-color: #2b0170;
    color: #fff;
    padding: 25px 15px 15px 15px;
}
.event_text_box p {
    padding: 10px;
}
.event_button {
    background-color: #2b0170;
    border: solid #2b0170 2px;
    color: #fff;
    border-radius: 4px;
    padding: 10px 35px 6px 35px;
    margin-top: 0px;
    margin-bottom: 40px
}
.event_button:hover {
    background-color: #fff;
    color: #2b0170;
}
.button_box {
    text-align: center;
    background-color: #EAF0F1;
    padding-top: 20px;
}
.button_box h5 {
    padding-top: 40px;
}
.white_span {
    background-color: #fff;
    padding: 7px 8px 0px 8px;
    border-radius: 6px;
    margin-left: 3px;
}



/*
EventList ----->
*/
.events_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.intro_headline {
    text-align: left;
    color: #fff;
    margin-bottom: 0;
    margin-top: 70px;
    padding: 0px 0 25px 0;
}
.event {
    width: 49%;
    height: 270px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-left: solid #2b0170 0;   
    margin-bottom: 12px;
    background-color: #2b0170;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
}
.event:hover {
    opacity: 0.85;
    cursor: pointer;
    border-left: solid #2b0170 15px;
}
.event_attending_tick_container {
    background-color: #ac99ca;
    color: #623aa1;
    border-radius: 1000px;
    height: 50px;
    width: 50px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 8px;
    right: 18px;
}
.events_box h5 {
    background-color: #2b0170;
    color: white;
    position: absolute;
    left: -12px;
    top: 15px;
    padding: 8px 30px 3px 30px;
    margin-right: 28px;
    text-align: left;
}
.events_box h6 {
    background-color: white;
    color:#2b0170;
    position: absolute;
    left: calc(50% - 98px);
    bottom: -10px;
    padding: 12px 30px 8px 30px;
    text-align: left;
    border-radius: 5px 5px 0 0;
}
@media only screen and (max-width: 1000px) {
    .event {
        width: 80%;
    }
}
@media only screen and (max-width: 770px) {
    .intro_headline {
        padding: 0 20px 25px 20px;
    }
}
@media only screen and (max-width: 600px) {
    .event {
        width: 95%;
    }
}
@media only screen and (max-width: 450px) {
    .event {
        height: 200px;
    }
}



/*
My Buddies ----->
*/
.my_event_box {
    width: 55vw;
    margin: auto;
    background-color: #fff;
    box-shadow: 10px 10px 30px #2b0170;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.my_event_box_info {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
    min-height: 200px;
}
.event_img_section {
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event_img_section img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}
.event_text_section {
    padding: 20px 20px;
}
.buddies_intro {
    color: #fff;
    margin: 45px 0px 35px 0px;
}
.buddy_section {
    background-color: #2b0170;
    padding-top: 50px;
    padding-bottom: 38px;
    width: 100%;
    align-self: flex-end;
    text-align: center;
}
.buddy_section h5 {
    color: #fff;
}
.buddy_section span {
    color: #2b0170;
}
.chat_box {
    text-align: center;
    width: 80%;
    margin: auto;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 40px;
}
.recommend_chat {
    color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: right;
    align-content: flex-end;
    flex-wrap: wrap;
}
.recommend_chat div {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    background-color: #662d91;
    border: dashed 2px #fff;
    border-radius: 6px;
    padding: 9px 10px 6px 10px;
}
.recommend_chat_title {
    text-align: left;
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
}
.recommend_chat div p {
    margin: 0;
    font-size: 15px;
}
.recommend_chat div:hover {
    opacity: 0.7;
    cursor: pointer;
}
.chat-log-container {
    display: flex;
    align-items: flex-end;
}
.chat-log {
    background-color: #fff;
    border: 0px;
    border-radius: 5px 5px 0 0;
    min-height: 100px;
    max-height: 300px;
    width: 90%;
    margin-right: 10%;
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
}
.my_message {
    background-color:#2b0170;
    color: #fff;
    text-align: left;
    padding: 5px 12px 2px 12px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 8px;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.their_message {
    background-color:#fff;
    color: #2b0170;
    text-align: left;
    border: solid 1.5px #ccbae7;
    border-radius: 5px;
    padding: 5px 12px 1px 12px;
    font-size: 15px;
    margin-left: 8px;
    margin-right: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 80%;
}
.system_message_to_start {
    background-color:#ccbee0;
    color: #fff;
    text-align: left;
    padding: 5px 12px 2px 12px;
    border: dashed 3px #fff;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 8px;
    margin-left: 50px;
    margin-bottom: 10px;
    float: right;
    position: relative;
}
.tip_text {
    font-size: 16px;
    color: #ccbee0;
    position: absolute;
    left: -40px;
    top: 8px;
    margin-right: auto;
    float:right;
    justify-self: flex-end;
}
.chat_blank {
    float: right;
    height: 12px;
    width: 100%;
}
.submit_box textarea {
    min-height: 50px;
    max-height: 120px;
    border: 0px;
    border-radius: 0 0 5px 5px;
    border-top: 1.5px #d6c5f0 solid;
    outline: 0px;
    width: 90%;
    margin-right: 10%;
    padding: 15px 12% 7px 12px;
    overflow: auto;
    resize: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.submit_box textarea::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.submit_box {
    position: relative;
}
.submit_box i {
    position: absolute;
    top: 4px;
    right: 11.5%;
    color: #2b0170;
    font-size: 25px;
    padding: 10px 10px 9px 10px;
    border-radius: 15px;
}
.submit_box i:hover {
    background-color: #d6c5f0; 
    opacity: 0.7;
}
.chat-log {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.chat-log::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
@media only screen and (max-width: 1200px) {
    .my_event_box {
        width: 80%;
    }
}
@media only screen and (max-width: 1000px) {
    .my_event_box {
        width: 100%;
    }
    .chat_box {
        width: 92%;
    }
}
@media only screen and (max-width: 770px) {
    .buddies_intro {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .event_buddy_container {
        width: 100vw;
    }
    .my_event_box {
        width: 90%;
    }
    .my_event_box_info {
        grid-template-columns: 45% 55%;
    }
    .chat-log {
        width: 100%;
        margin: 0;
    }
    .buddy_section h5 {
        line-height: 34px;
    }
    .submit_box textarea {
        width: 100%;
    }
    .submit_box i {
        right: 1%;
    }
}
@media only screen and (max-width: 600px) {
    .buddies_intro {
        font-size: 20px;
    }
    .my_event_box_info {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        min-height: 400px;
    }
    .buddy_section {
        padding-top: 25px;
    }
    .buddy_section h5 {
        font-size: 15px;
        padding: 0 8px;
    }
    .recommend_chat {
        display: none;
    }
    .chat_box {
        display: block;
    }
}


/*
Settings----->
*/
.settings_container {
    width: 80%;
    text-align: left;
    color: #fff;
    margin: auto;
    margin-top: 50px;
}
.settings_container .on_off_form, .settings_container_forms form {
    margin-bottom: 30px;
}
.settings_container_forms {
    width: 100%;
    margin: auto;
}
.settings_container .on_off_form {
    display: grid;
    grid-template-columns: 90% 10%;
    width: fit-content;
}
.settings_container h1 {
    text-align: left;
    margin-bottom: 40px;
}
.settings_container button {
    padding: 10px 20px 6px 20px;
    border: 0px;
    outline: 0px;
    background-color: #fff;
    color: #23005c;
    border-radius: 5px;
    margin-left: 12px;
}
.settings_container button:hover {
    background-color: #23005c;
    color: #fff;
}
.settings_container input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c5b4e0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.settings_container input:checked[type="checkbox"] {
        background-color: #662d91;
}
.settings_container input[type="checkbox"]:before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.settings_container input:checked[type="checkbox"]:before {
    left: 40px;
}
.on_off_form label {
    margin-right: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
@media only screen and (max-width: 700px) {
    .settings_container .on_off_form, .settings_container_forms form {
        margin-bottom: 45px;
        padding-right: 15px;
    }
    .settings_container .on_off_form {
        max-width: 90%;
    }
    .settings_container .on_off_form label {
        margin-bottom: 0px;
    }
    .settings_container label {
        font-size: 14px;
    }
    .remove_account_box {
        text-align: center;
    }
}



/* 
Footer---->
*/
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
.container {
    margin-bottom: 180px;
}
footer {
    background-color: #662d91;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
    text-align: center;
}
footer a {
    color: #fff;
    text-align: center;
    font-size: 8px;
}