{% extends 'base.html' %}

{% block content %}
<div class="reg_container">
    <h1 class="login_title">Login</h1>
    <div class="form_box">
        {% if message %}
        <h6>{{ message }}</h6>
        {% endif %}
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form_line">
                <div class="icon_box">
                    <i class="far fa-envelope"></i>
                </div>
                <input type="text" name="email" placeholder="Email address">
            </div>
            <br>
            <div class="form_line">
                <div class="icon_box">
                    <i class="fas fa-unlock-alt"></i>
                </div>
                <input type="password" name="password1" placeholder="Your password">
            </div>
            <br>
            {% if error %}
            <div class="error_box">
                {{ error }}
            </div>
            {% endif %}
            <input class="submit_btn" type="submit" value="LOGIN">
        </form>
        <h6 class="already_registered_title">Don't have an account yet? <a href="{% url 'registration' %}">Sign up</a></h6>
    </div>
</div>
{% endblock %}