{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="intro_headline">UPCOMING EVENTS</h2>
        <div class="events_box">
            {% for event in events %}
            <a href="e{{ event.id }}/" class="event" style="background-image: url({{ event.image.url }});">
                <div>
                    <h5>{{ event.name }}</h5>
                    <h6>{{ event.date }}</h6>
                    {% if event.attending %}
                        <div class="event_attending_tick_container"><i class="fa fa-check" aria-hidden="true"></i></div>
                    {% endif %}
                </div>
                <h6><i class="fas fa-calendar-alt" style="padding-right:10px;"></i>{{ event.date }}</h6>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}