{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="buddies_intro">Your buddies for upcoming events:</h2>
    <div class="event_buddy_container">
        {% for event in events_attending %}
        <div class="my_event_box">
            <div class="my_event_box_info">
                <div class="event_img_section" style="background-image:url({{ event.event.image.url }})">
                </div>
                <div class="event_text_section">
                    <h3>{{ event.event.name }}</h3>
                    <h6><i class="fas fa-calendar-alt" style="padding-right:10px;"></i>{{ event.event.date }}</h6>
                </div>
            </div>
            <div class="buddy_section">
                        {% if event.eventBuddy is None %}
                            <h5>Nobody found yet &#128533;</h5>
                        {% else %}
                            <h5>Your event buddy is:<span class="white_span">{{ event.eventBuddy.user.username }}</span></h5>
                        {% endif %}
        
            <!-- Chatting functionality -->
            {% if event.eventBuddy is not None %}
                <div class="chat_box">
                    <div class="recommend_chat">
                        <p class="recommend_chat_title">LET THE CONVERSATION BEGIN:</p>
                        <div onclick="recommendedMsg('input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}', 'Hi, nice to meet you :) What interests you the most about this event?')">
                            <p>Hi, nice to meet you :) What interests you the most about this event?</p>
                        </div>
                        <div onclick="recommendedMsg('input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}', 'Hey there, how are you?')">
                            <p>Hey there, how are you?</p>
                        </div>
                    </div>
                    <div class="chat-log-container">  
                        <div id="chat-log-{{ event.eventBuddy.user.id }}-{{ event.event.id }}" class="chat-log" onscroll="ScrollUpForOlderMessages('chat-log-{{ event.eventBuddy.user.id }}-{{ event.event.id }}','{{ event.eventBuddy.chatName }}')"></div>
                    </div>  
                    <div class="empty"></div>
                    <div class="submit_box">
                        <textarea name="" class="input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}" id="chat-message-input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}" cols="10" rows="1"></textarea>
                        <i id="chat-message-submit-{{ event.eventBuddy.user.id }}-{{ event.event.id }}">></i>
                    </div>
                </div>
            </div>


            <script>

                // Roomname with user eventBuddy's id because there can be more websockets opened on this page
                //      -> variable "roomName" would collade without differentiation (hence the id)
                let roomName{{ event.eventBuddy.user.id }}_{{ event.event.id }} = '{{ event.getChat }}';

                let chatSocket{{ event.eventBuddy.user.id }}_{{ event.event.id }} = new WebSocket(
                    'wss://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName{{ event.eventBuddy.user.id }}_{{ event.event.id }}
                    + '/'
                );

                chatSocket{{ event.eventBuddy.user.id }}_{{ event.event.id }}.onmessage = async function(e) {
                    const data = JSON.parse(e.data);
                    // Receiving messages and getting the ones from database:
                    addMessageToChatLog(data,'chat-log-{{ event.eventBuddy.user.id }}-{{ event.event.id }}','append');
                };

                function appendOrPrependTheMessageToChatLog(data,message_from,action_to_take,chat_log_id) {
                    div = document.createElement("div");
                    div.setAttribute("class", message_from);
                    div.innerHTML += data.text;
                    // action_to_take == 'append' when real-time chatting, 'prepend' when scrolling up to load older messages
                    if (action_to_take == 'append') {
                        document.querySelector('#'+chat_log_id).append(div);
                        div.insertAdjacentHTML("afterend","<div class='chat_blank'></div>");
                    } else {
                        document.querySelector('#'+chat_log_id).prepend(div);
                        div.insertAdjacentHTML("afterend","<div class='chat_blank'></div>");
                    }
                }

                function addMessageToChatLog(data,chat_log_id,action_to_take) {
                    // Their message:
                    if (data.sender != {{ user.id }}) {
                        appendOrPrependTheMessageToChatLog(data,"their_message",action_to_take,chat_log_id);
                    }
                    // Message of this user:
                    if (data.sender == {{ user.id }} && data.isPastMessage) {
                        appendOrPrependTheMessageToChatLog(data,"my_message",action_to_take,chat_log_id);
                    }
                    if (action_to_take == "append") {
                        var chatBox = document.getElementById(chat_log_id);
                        var scroll_to_the_bottom = chatBox.scrollTo(0,chatBox.scrollHeight);
                    }
                }

                chatSocket{{ event.eventBuddy.user.id }}_{{ event.event.id }}.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                };

                // Sending messages when pressing enter/return
                document.querySelector('#chat-message-input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#chat-message-submit-{{ event.eventBuddy.user.id }}-{{ event.event.id }}').click();
                    }
                };

                // Sending messages:
                document.querySelector('#chat-message-submit-{{ event.eventBuddy.user.id }}-{{ event.event.id }}').onclick = function(e) {
                    const messageInputDom = document.querySelector('#chat-message-input-{{ event.eventBuddy.user.id }}-{{ event.event.id }}');
                    const message = messageInputDom.value;
                    chatSocket{{ event.eventBuddy.user.id }}_{{ event.event.id }}.send(JSON.stringify({
                        'text': message,
                        'sender': {{ user.id }}
                    }));
                    messageInputDom.value = '';
                    let newMsg = '<div class="my_message">'+message+'</div> <div class="chat_blank"></div>';
                    document.querySelector('#chat-log-{{ event.eventBuddy.user.id }}-{{ event.event.id }}').innerHTML += (newMsg + '\n');
                };
            </script>

            <script>
                // Add initial message to start the discussion into the chat-log (only under 770px browser window and if the chat-log is clear):
                setTimeout(() => {
                    if(window.innerWidth <= 770) {   
                        var div = document.createElement("div");
                        div.setAttribute("class", "system_message_to_start");
                        div.innerHTML += "Hey there, how are you?";
                        div.innerHTML += "<h4 class='tip_text'>TIP:</h4>";
                        var all_chat_logs = document.getElementsByClassName("chat-log");
                        for (let i = 0; i < all_chat_logs.length; i++) {
                            if(all_chat_logs[i].innerHTML == "") {
                                var class_of_input = all_chat_logs[i].parentElement.lastElementChild.firstElementChild.classList;
                                div.setAttribute("onclick", "recommendedMsg('"+class_of_input[0]+"','Hey there, how are you')");
                                all_chat_logs[i].prepend(div);
                            }
                        }
                    }
                }, 1000);

                // AJAX call when user scroll to the top of the chat-box:
                let messages_batch_{{ event.eventBuddy.chatName }} = 1;
                async function ScrollUpForOlderMessages(chat_box_id,chat_name) {
                    var scrolledBox = document.getElementById(chat_box_id);
                    if (scrolledBox.scrollTop == 0) {
                        var loading_div = document.createElement("div");
                        loading_div.setAttribute("class", "loading_chat_box");
                        loading_div.innerHTML = "<div class='loader'></div>"
                        document.getElementById(chat_box_id).prepend(loading_div);
                        setTimeout(() => {
                            messages_batch_{{ event.eventBuddy.chatName }} += 1;
                            var newAjaxForOlderMessages = new XMLHttpRequest();
                            newAjaxForOlderMessages.onreadystatechange = async function() {
                                var holder_for_scrolling_function = await scrolledBox.firstChild;
                                if (this.readyState == 4 && this.status == 200) {
                                    var returned_messages = JSON.parse(this.responseText);
                                    returned_messages['messages'].forEach((message) => {
                                        addMessageToChatLog(message,chat_box_id,'prepend');
                                    })     
                                }
                                scrolledBox.scrollTop = (loading_div.offsetTop+320);
                            };
                            newAjaxForOlderMessages.open("GET", '/rew/chat?name='+chat_name+'&batch='+messages_batch_{{ event.eventBuddy.chatName }}, true);
                            newAjaxForOlderMessages.send();
                            loading_div.style.display = "none";
                        }, 500);
                    }
                }
            </script>

        {% else %}
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
