{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">

    function scrollToTheEvent() {
        setTimeout(() => {
            let event_section = document.getElementById("scroll_here_after_load");
            event_section.scrollIntoView();
        }, 600);
    }

    function open_registration_modal() {
        var reward_modal = document.getElementById("reward_modal");
        var reward_modal_box = document.getElementById("reward_modal_box");
        var reward_modal_box_close = document.getElementById("reward_modal_box_close");
        var body = document.getElementsByTagName("html");
        reward_modal_box_close.style.backgroundColor = "#fff";
        reward_modal_box_close.style.color = "#000099";
        reward_modal_box.style.backgroundColor = "#00006b";
        reward_modal.style.display = "flex";
        body[0].style.overflowY = "hidden";
        body[0].style.overflowX = "hidden";
        async function insertForm() {
            reward_modal_box_content.innerHTML = `
            <div class="form_box form_box_newcollector">
                <h2 id="signup_title">Where should we send info about your rewards?</h2>
                <form action="/accounts/signup/" method="POST">
                    {% csrf_token %}
                    <div class="form_line">
                        <div class="icon_box" style="background-color:#fff">
                            <i class="far fa-envelope" style="color:#000099"></i>
                        </div>
                        <input type="text" name="email" placeholder="Email address">
                    </div>
                    <br>
                    <div class="form_line password password_invisible">
                        <div class="icon_box" style="background-color:#fff">
                            <i class="fas fa-unlock-alt" style="color:#000099"></i>
                        </div>
                        <input type="password" name="password1" placeholder="Your password">
                    </div>
                    <div class="form_line password password_invisible">
                        <div class="icon_box" style="background-color:#fff">
                            <i class="fas fa-unlock-alt" style="color:#000099"></i>
                        </div>
                        <input type="password" name="password2" placeholder="Password again">
                    </div>
                    {% if error %}
                    <div class="error_box">
                        {{ error }}
                    </div>
                    {% endif %}
                    <input type="hidden" name="event_id_from_newcollector" value="{{ event.id }}">
                    <input class="submit_btn" id="modal_submit_btn" type="submit" value="SIGN UP">
                    <!-- OAuth block -->
                    {% load i18n %}
                    {% load account socialaccount %}
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                    <div class="socialaccount_ballot">
                    <img src="{% static 'google_oauth.png' %}" alt="Google OAuth Logo">
                    <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                    </div>
                    {% endif %}
                    <!-- end of OAuth -->
                </form>
                <h6 class="already_registered_title">Already have an account? <a href="{% url 'login' %}" style="color:#ac99ca">Login</a></h6>
            </div>
        `;
        }
        insertForm().then(() => {
            let modal_submit_btn = document.getElementById("modal_submit_btn");
            modal_submit_btn.addEventListener("click",preventFormSubmission)
        });
        function preventFormSubmission(e) {
            e.preventDefault();
            let signup_title = document.getElementById("signup_title");
            var signup_title_password = document.createElement("h6");
            signup_title_password.innerHTML = "Let's protect your rewards :)"
            signup_title.append(signup_title_password);
            let password_inputs = document.getElementsByClassName("password");
            for (let i = 0; i < (password_inputs.length); i++) {
                password_inputs[i].classList.add("password_visible");
            }
            modal_submit_btn.removeEventListener("click",preventFormSubmission);
        }
    }

    // Show password inputs after filling in email:
    function showPasswordInputsAfterEmail() {
        document.getElementById("modal_submit_btn").preventDefault();
    }
    </script>

<div id="reward_modal">
    <div id="reward_modal_box">
        <div id="reward_modal_box_close" onclick="close_modal()"><i class="fas fa-times"></i></div>
        <div id="reward_modal_box_content">
        </div>
    </div>
</div>

<div class="container">
    <div class="credit_box">
        <h3>YOUR CREDIT:</h3>

        <div class="credit_box_containered">

            <div class="credit_rewards">
                {% for reward in rewards %}
                <style>
                    @media only screen and (max-width: 1200px) {
                        #reward_box_{{ reward.id }} {
                            left: calc((((100*{{ reward.pointsNeeded }})/8)*1%) - 22px)!important;
                        }
                    };
                </style>
                <style>
                    @media only screen and (max-width: 770px) {
                        #reward_box_{{ reward.id }} {
                            left: calc((((100*{{ reward.pointsNeeded }})/8)*1%) - 17px)!important;
                        }
                    }
                </style>
                <style>
                    @media only screen and (max-width: 600px) {
                        #reward_box_{{ reward.id }} {
                            top: calc((((100*{{ reward.pointsNeeded }})/8)*1%) - 24px)!important;
                            padding: 0!important;
                            left: -50px!important;
                        }
                    }
                </style>
                    {% if reward.quantity >= 1 %}
                        {% if reward.alreadyWithdrawn is True %}
                        <div id="reward_box_{{ reward.id }}" class="reward_box" style="cursor:initial;opacity:0.4;left: calc((((100*{{ reward.pointsNeeded }})/8)*1%) - 37.5px); background-image: url({% static 'reward_bg_blue.png' %});" title="Already Withdrawn">
                            <img src="{{ reward.image.url }}" alt="{{ reward.name }}" >
                            <h6 class="withdrawn_text">WITHDRAWN</h6>
                        {% else %}
                        <div id="reward_box_{{ reward.id }}" class="reward_box" style="left: calc((((100*{{ reward.pointsNeeded }})/8)*1%) - 37.5px); background-image: url({% static 'reward_bg_blue.png' %});" onclick="open_reward_modal('{{ reward.name | escapejs }}','{{ reward.description | escapejs }}','{{ reward.image.url }}','{{ reward.id }}',true)">
                            <img src="{{ reward.image.url }}" alt="{{ reward.name }}">
                            <h5>{{ reward.pointsNeeded }}</h5>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="credit_points_box">
                <style>
                    @media only screen and (max-width: 600px) {
                        .credit_points {
                            height: calc((3/8)*100%);
                            width: 100%!important;
                        }
                        .credit_points h4 {
                            bottom: -8px;
                            left: 21px;
                        }
                    }
                </style>
                <div class="credit_points" style="width: calc((3/8)*100%);max-width:100%">
                    <h4>3</h4>
                </div>
            </div>

        </div>

    </div>

    <div class="my_events_box" id="scroll_here_after_load">
        <h3 class="your_events_intro">YOUR EVENTS:</h3>
            <div class="my_event_box_recommend">
                <a href="{% url 'eventpage' event.id %}" class="recommend_link_box_event">
                    <div style="background-image: url({{ event.image.url }});background-size:cover;background-position: center;" class="recommend_link_box_event_title_img">   
                    </div> 
                    <div class="recommend_link_box_event_text">
                        <h3>{{ event.name }}</h3>
                        <h6 style="color:#2b0170;font-size: 14px;"><i class="fas fa-calendar-alt" style="padding-right:10px;"></i>{{ event.date }}</h6>
                    </div>
                </a>
                <div class="recommend_link">
                    <h5>Want to have more fun and collect some credits? <br>Invite your friends with this link:</h5>
                    <input type="text" value="{{ event.linkToRegister }}/4461475" id="recommend_link_{{ eventAttending.id }}" class="recommend_link_input">
                    <button onclick="open_registration_modal()" id="copy_box"><i class="fas fa-clone"></i></button>
                </div>
            </div>
        <div class="empty_box">
            <a href="{% url 'eventlist' %}" class="discover_more_events">
                <div class="recommend_link_box_empty">
                    <h2>+ Explore more events</h2>
                </div>
            </a>
        </div>
    </div>
</div>

<script defer>
    let error = '{{ error }}';
    if (error != "") {
        open_registration_modal();
    }

    window.onload = scrollToTheEvent();
</script>
{% endblock %}

