html {
    min-height: 100vh;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    font-family: 'League Spartan';
}

/*
Header ---->
*/
header {
    background-color: #623aa1;
    height: 70px;
    padding: 10px 7.5vw;
    text-align: right;
}
.logo_img {
    max-height: 60px;
    display: inline;
    position: absolute;
    top: 10px;
    left: 7.5vw;
}
header #menu_toggle {
    display: inline;
    color: white;
    position: absolute;
    right: 8.5vw;
    top: 25px;
    cursor: pointer;
    transition: visibility 0s, opacity 0.5s linear;
}
header #menu_toggle.invisible {
    opacity: 0;
    transition: 0.5s;
    transform: translate(-100%, 0%);
}
header #toggle {
    position: absolute;
    right: 7.5vw;
    top: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: inline;
}
header #toggle:before {
    content: "";
    position: absolute;
    top: 9px;
    width: 35%;
    height: 7px;
    background-color: white;
}
header #toggle:after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 35%;
    height: 7px;
    background-color: white;
}
.content-container.active #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(41deg);
}
.content-container.active #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-41deg);
}
.content-container {
    height: 100%;
    transition: 0.5s;
    z-index: 3;
    position: relative;
}
.content-container.active {
    transform: translateX(-400px);
}
.navigation {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #2b0170;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
.navigation.active {
    right: 0;
}
.navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 5px;
}
.navigation ul li {
    list-style: none;
}
.navigation ul li a {
    text-decoration: none;
    font-size: 38px;
    line-height: 9vh;
    color: white;
}
.logout_form {
    position: absolute;
    top: 20px;
    right: 20px;
}
.logout_form input {
    background-color: #623aa1;
    padding: 5.5px 37.5px 3.5px 37.5px;
    color: white;
    border: solid 2.5px #623aa1;
}
.logout_form input:hover {
    background-color: #2b0170;
    border: solid 2.5px #fff;
}
.nav_username {
    position: absolute;
    top: 20px;
    left: 22px;
    color: #2b0170;
    font-size: 14px;
    border: 2.5px solid #fff;
    padding: 10px 40px 7px 7px;
    background-color: white;
}



/* 
Registration and Login pages (forms)---->
*/
.reg_container {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ac99ca;
    margin: 0;
    width: 100%
}
.form_box {
    min-width: 40vw;
    background-color: #623aa1;
    border: 8px #2b0170 solid;
    color: white;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 5vh;
}
.form_box h1 {
    margin-bottom: 5vh;
}
.form_line {
    display: grid;
    grid-template-columns: 50px auto;
    max-width: 85%;
    margin: auto;
}
.form_box input {
    height: 50px;
    padding-left: 6px;
    font-size: 18px;
}
.icon_box {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b0170;
}
.form_box .submit_btn {
    width: 42%;
    height: auto;
    padding-top: 14px;
    padding-bottom: 8px;
    font-size: 22px;
    color: #2b0170;
}
.error_box {
    margin: 0 20% 10px 20%;
    background-color: #2b0170;
    border: solid #fff 2px;
    min-width: auto;
    padding: 14px 0 12px 0;
}


/*
MyPage----->
*/
.credit_box, .my_events_box {
    margin-top: 30px;
    padding: 40px;
    width: 100%;
    box-shadow: 10px 10px 30px #704da8;
}
.credit_points_box {
    box-shadow: 10px 10px 30px #704da8;
    width: 75%;
    height: 50px;
    margin: auto;
}
.credit_points {
    background-color: #2b0170;
    height: 100%;
    position: relative;
}
.credit_points h5 {
    position: absolute;
    top: 118%;
    right: -6px;
    color: #623aa1;
}
.my_event_box {
    color: #000;
    width: 45vw;
    margin: auto;
    padding: 30px 50px;
    margin-top: 40px;
}
.recommend_link_box_event {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 20px;
    text-decoration: none;
}
.recommend_link_box_event:hover {
    background-color: #bbaad6;
    text-decoration: none;
}
.recommend_link_box_event h4 {
    color: #000;
    display: inline;
    text-align: left;
    padding: 12px 0 0 9px;
}
.recommend_link_box_event img {
    max-width: 100%;
    display: inline;
}
.my_event_box #recommend_link {
    border: 0px;
    padding: 13px 0 9px 3%;
    border: 2.5px #2b0170 solid;
    width: 50%;
}
.my_event_box #copy_box {
    background-color: #2b0170;
    color: white;
    position: relative;
    border: 0;
    padding: 9px 14px;
    right: 7px;
    top: 0;
    font-size: 22px;
    border-radius: 0px 6px 6px 0;
}
.my_event_box #copy_box:hover {
    background-color: #623aa1;
}
.empty_box {
    padding: 0px 24%;
}
.recommend_link_box_empty {
    background-color: #eae3f5;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    border: dashed 2.5px #ac99ca;
    padding: 6vh 0 5vh 0;
}
.discover_more_events {
    width: 52%;
    margin: auto;
    color: #ac99ca;
}
.discover_more_events:hover {
    text-decoration: none;
    color: #623aa1;
}
.recommend_link_box_empty:hover {
    border: dashed 2.5px #623aa1;
}
.recommend_link {
    width: 100%;
    text-align: center;
}



/*
Eventpage ----->
*/
.event_container {
    box-shadow: 10px 10px 30px #704da8;
    margin-top: 40px;
    padding: 0px;
}
.row {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.event_img_box img {
    max-width: 100%;
}
.event_img_box {
    padding: 0;
}
.event_text_box {
    padding: 0 0 10px 0;
    background-color: #2c017013;
}
.event_text_box .title {
    background-color: #2c017013;
    padding: 10px;
}
.event_text_box p {
    padding: 10px;
}
.event_button {
    background-color: #2b0170;
    border: solid #2b0170 2px;
    color: #fff;
    border-radius: 4px;
    padding: 10px 35px 6px 35px;
    margin-top: 0px;
    margin-bottom: 20px
}
.event_button:hover {
    background-color: #fff;
    color: #2b0170;
}
.button_box {
    text-align: center;
    background-color: #2c017021;
}
.button_box h5 {
    padding-top: 40px;
}
.white_span {
    background-color: #fff;
    padding: 7px 8px 0px 8px;
    border-radius: 6px;
}



/*
EventList ----->
*/
.events_box {
    box-shadow: 10px 10px 30px #704da8;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.event {
    width: 50%;
    max-height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #bbaad6;
}
.event:hover {
    opacity: 0.85;
}
.event img {
    width: 100%;
    max-height: 250px;
    width: auto;
}
.events_box h5 {
    background-color: #2b0170;
    color: white;
    position: absolute;
    left: -12px;
    top: 15px;
    padding: 12px 30px 8px 30px;
    text-align: left;
}



/*
My Buddies ----->
*/
.my_event_box {
    box-shadow: 10px 10px 30px #704da8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.event_img_section {
    max-width: 40%;
}
.event_img_section img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}
.event_text_section {
    max-width: 60%;
}
.buddy_section {
    padding-top: 35px;
    width: 100%;
    align-self: flex-end;
    text-align: center;
}



/* 
Footer---->
*/
html {
    position: relative;
    min-height: 100%;
}
.container {
    margin-bottom: 180px;
}
footer {
    background-color: #623aa1;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
}