{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container home_container">
    <div class="head_text_box">
        <h1><span class="main_headline_span">We believe that</span> LIKE-MINDED PEOPLE <span class="main_headline_span">should meet each other</span></h1>
        <img src="{% static 'home_icon_without_msg.svg' %}" alt="Meet Icon" class="home_icon" style="font-family: Arial, Helvetica, sans-serif;">
        <h6>Let's make it so together with <span>AUTOMATED</span> and <span>GAMIFIED</span> ambassador program where attendees bring friends and withdraw rewards.</h6>
        <p><span>EASY TO SET UP</span> and<span> LOW-COST </span>for organisers.<br><br><span>WITHOUT</span> BIG MARKETING BUDGET<br><span>WITHOUT</span> MARKETING SPECIALIZATION<br><span>WITHOUT</span> UNCERTAINITY</p>
        <p>...because organisers pay ONLY for brought attendees.</p>
    </div>

    {% if user.is_authenticated is False %}
    <div class="log_reg_box">
        <h6>Are you an event attendee?</h6>
        <a href="/accounts/login"><button>LOGIN</button></a>
        <a href="/accounts/signup"><button>SIGNUP</button></a>
    </div>

    <div class="navigation log_reg_side_nav">
        <div class="nav_menu_box">
            <ul>
                <li><a href="/accounts/login">LOGIN</a></li>
                <li><a href="/accounts/signup">SIGNUP</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}