{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{% static 'home_icon.svg' %}" alt="Meet Icon" class="home_icon">

<div class="container home_container">
    <div class="head_text_box">
        <h1>Bringing new attendees to event organisers.</h1>
        <p><span>WITHOUT</span> BIG MARKETING BUDGET<br><span>WITHOUT</span> MARKETING KNOWLEDGE<br><span>WITHOUT</span> UNCERTAINITY</p>
        <h6>With <span>AUTOMATED</span> and <span>GAMIFIED</span> ambassador program where you pay only for brought attendees.</h6>
    </div>
    <div class="vision_statement_box">
        <h2>WE BELIEVE THAT LIKE-MINDED PEOPLE SHOULD MEET EACH OTHER.<br>Let's make it so, TOGETHER.</h2>
    </div>
    {% if user.is_authenticated is False %}
    <div class="log_reg_box">
        <h6>Are you an event attendee?</h6>
        <a href="{% url 'login' %}"><button>LOGIN</button></a>
        <a href="{% url 'registration' %}"><button>REGISTER</button></a>
    </div>
    {% endif %}
</div>

{% endblock %}